<div class="modal fade" id= "create-artist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Add to the Muzaik Family</h2>
      </div>
      <div class="modal-body">
        <h3 class>This artist is not currently in the Muzaik database!</h3>
          <%= form_for(@artist) do |f| %>
            <% if @artist.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
                <ul>
                <% @artist.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
        <div class="field">
          <h2 class="text-center">
            <%= f.label :name, value: params[:search] %><br />
          </h2>
          <br />
          <%= f.hidden_field :name, value: params[:search] %>
        </div>
        <h4>Create the artist with a click of the button to add them to Muzaik!</h4>
      </div>
      <div class="modal-footer">
        <%= button_tag(type: 'submit', class: "btn create-btn") do %>
          Create Artist!
        <% end %>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
