<div class="modal fade" id= "create-artist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">This Artist doesn't exist in our database yet!</h4>
      </div>
      <div class="modal-body">
        <h2>Would you like to create the artist in our database?</h2>
          <%= form_for(@artist) do |f| %>
            <% if @artist.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
                <ul>
                <% @artist.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
        <div class="field">
          <h1><%= f.label :name, value: params[:search] %></h1>
          <%= f.hidden_field :name, value: params[:search] %>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Create! Artist!
        <% end %>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
