<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The IMDB of Music!">
  <meta name="author" content="Team Two">
  <title>Spindex</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "bootstrap.min", "landing" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="mainmenu">
    <div class="container">
    <!-- REPLACE WITH SEARCH -->
    <div style="height:231px;margin-top:80px" id="lga"></div>
      <input id="search-field" placeholder="Type in Artist, Album, or Song" >
    </div>
    <div class="search-btn">
      <%= link_to "Search Spindex", dashboard_path, :class => "btn" %>
    </div>
  </nav>

  <%= javascript_include_tag 'bootstrap.min' %>
</body>
</html>
