<% if @artist.id == nil %>
  <p>
    I'm sorry, we couldn't find that artist. Maybe a different spelling will do the trick...
  </p>
<% else %>

<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <!-- CHANGE DASHBOARD URL/BASE!!-->
    <li id="bio-btn">
      <i class="fa  fa-arrow-circle-o-right">Biography</i>
    </li>
    <li id="pics-btn">
      <i class="fa  fa-arrow-circle-o-right">Pictures</i>
    </li>
    <li id="YT-btn">
      <i class="fa  fa-arrow-circle-o-right">Video</i>
    </li>
    <li id="twitter-btn">
      <i class="fa  fa-arrow-circle-o-right">Twitter</i>
    </li>
        <li id="FB-comments-btn">
      <i class="fa  fa-arrow-circle-o-right">Discussion</i>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div>
    <div class="artist-name">
      <h1><%= @artist.name %>
      </h1>
      <p>
        Rating: <%= rating_for @artist, "overall", :star => 10, :enable_half => true, :half_show => true, :disable_after_rate => false, :cancel => false %>
      </p>
      <div class="col-md-4">
        <h2>Genre</h2>
        <p><%= @artist.genre %></p>
      </div>
      <div class="col-md-4">
        <h2>Related Artists</h2>
        <% arr = @artist.related_artist.split(", ") %>
        <% arr.each do |art| %>
          <% name = art.split.map(&:capitalize).join(' ') %>
          <% if Artist.exists?(name: name) %>
            <%= link_to art, artist_path(Artist.find_by(name: name)) %>
          <% else %>
            <%= p name %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <h2>Hotness</h2>
        <p><%= @artist.hotttnesss %></p>
      </div>
    </div>
  </div>
</dix>

<div id="bio">
  <%= image_tag((@artist.photo), :class => "artist-image") %>
  <%= simple_format(@artist.biography) %>
</div>

<div id="pics">
  <% if @artist.picture %>
    <% pictures = @artist.picture.split("\", \"")[1..13] %>
    <% pictures.each do |pic| %>
      <%= image_tag(pic) %>
    <% end %>
  <% end %>
</div>

<div id="YT">
  <iframe id="ytplayer" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed?listType=search&list=<%= @artist.name %>"
  frameborder="0"/></iframe>
</div>

<% if @artist.twitter %>
<div id="twitter">
  <div id="demo" class="collapse in">
    <a class="twitter-timeline" href="https://twitter.com/<%= @artist.twitter %>" data-chrome="noheader nofooter" width="100" data-widget-id="603378251269038080" data-screen-name="<%= @artist.twitter %>">Tweets by @<% @artist.name %></a>
  </div>
</div>
<!-- <button type="button" class="btn btn-primary" data-toggle="collapse"
   data-target="#demo">
   Tweets
</button> -->
<% end %>

<div id="FB-comments">
  <div class="fb-comments" data-href="http://localhost:3000/artists/<%= @artist.id %>" data-numposts="5" data-colorscheme="light"></div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_artist_path(@artist) %> |
<% end %>
  <%= link_to 'Back', artists_path %><br>
<% end %>
