<% if @artist.id == nil %>
  <p>
    I'm sorry, we couldn't find that artist. Maybe a different spelling will do the trick...
  </p>
<% else %>

<div class="artist-container">
  <div id="wrapper">

    <!-- Navigation -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <!-- CHANGE DASHBOARD URL/BASE!!-->
        <li class="<%= is_active?(artist_path) %>" id="bio-btn">
          <i class="fa  fa-arrow-circle-o-right">
            <a href="#" data-toggle="#bio">Biography</a>
          </i>
        </li>
        <li class="<%= is_active?(albums_path) %>" id="albums-btn">
          <i class="fa  fa-arrow-circle-o-right">
            <a href="#" data-toggle="#albums">Albums</a>
          </i>
        </li>
        <li class="<%= is_active?(artist_path) %>" id="pics-btn">
          <i class="fa  fa-arrow-circle-o-right">
            <a href="#" data-toggle="#pics">Pictures</a>
          </i>
        </li>
        <li class="<%= is_active?(artist_path) %>" id="YT-btn">
          <i class="fa  fa-arrow-circle-o-right">
            <a href="" data-toggle="#YT">Videos</a>
          </i>
        </li>
        <li class="<%= is_active?(artist_path) %>" id="twitter-btn">
          <i class="fa  fa-arrow-circle-o-right">
            <a href="#" data-toggle="#twitter">Twitter</a>
          </i>
        </li>
        <li class="<%= is_active?(artist_path) %>" id="FB-comments-btn">
          <i class="fa  fa-arrow-circle-o-right">
            <a href="#" data-toggle="#FB-comments">Discussion</a>
          </i>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="artist-name">
      <h1><%= @artist.name %></h1>
      <p>
        <%= rating_for @artist, "overall", :star => 10, :enable_half => true, :half_show => true, :disable_after_rate => false, :cancel => false, star_path: '/assets/images/'%>
      </p>
      <div class="col-md-4">
        <h2>Genre</h2>
        <p><%= @artist.genre %></p>
      </div>
      <div class="col-md-4">
        <h2>Related Artists</h2>
        <p>
        <% arr = @artist.related_artist.split(", ") %>
        <% arr.each do |art| %>
          <% name = art.split.map(&:capitalize).join(' ') %>
          <% if Artist.exists?(name: name) %>
            |<%= link_to art, artist_path(Artist.find_by(name: name)) %>|
          <% else %>
            |<%= p name %>|
          <% end %>
        <% end %>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Hotness</h2>
        <p><%= @artist.hotttnesss %></p>
        <br>
        <br>
      </div>
    </div>


    <div id="bio">
      <%= image_tag((@artist.photo), :class => "artist-image") %>
      <%= simple_format(@artist.biography) %>
    </div>


    <div id="albums">
      <% @artist.albums.each do |album| %>
        <div class="accordion">
          <h2 class="accordion_title">
            <span class="album_title"><%= album.name %></span>
            <br />
            <span class ="smaller">(<%= album.songs.count %> Songs) <%= album.artist.name %></span><i class="accordion_icon fa fa-plus"></i>
          </h2>
          <div class="accordion_content">
            <p>
              <strong>Release date:</strong>
              <%= album.release_date %>
            </p>
            <p>
              <%= rating_for album, "overall", :star => 10, :enable_half => true, :half_show => true, :disable_after_rate => false, :cancel => false %>
            </p>
            <div id="album-photo">
            <% if album.photo? %>
              <%= image_tag(album.photo) %>
            <% end %>
            </div>
              <ol class="track-list">
                <% album.songs.each do |song| %>
                  <li><%= song.name %></li>
                <% end %>
              </ol>
          </div>
        </div>
      <% end %>
    </div>


  <div id="pics">
    <% if @artist.picture %>
    <% pictures = @artist.picture.split("\", \"")[1..13] %>


      <!-- SLIDER -->
      <center>
        <h1> <%= @artist.name %> Photos </h1>
        <div id="slide-container">
          <div class="prev">
              <a class="prev" href="#"> <%= image_tag "left-arrow.png" %></a>
          </div>
          <div class="carousel">
              <div><%= image_tag pictures.sample %></div>
              <div><%= image_tag pictures.sample %></div>
              <div><%= image_tag pictures.sample %></div>
              <div><%= image_tag pictures.sample %></div>
              <div><%= image_tag pictures.sample %></div>
          </div>
          <div class="next">
            <a class="next" href="#"><%= image_tag "right-arrow.png" %></a>
          </div>
        </div>
      </center>
  <!--SLIDER-->
      <% pictures.each do |pic| %>
        <%= image_tag(pic) %>
      <% end %>
    <% end %>
  </div>

    <div id="pics">
      <% if @artist.picture %>
      <% pictures = @artist.picture.split("\", \"")[1..13] %>
      <% pictures.each do |pic| %>
      <%= image_tag(pic) %>
      <% end %>
      <% end %>
    </div>

    <div id="YT">
      <iframe id="ytplayer" type="text/html" width="960" height="585"
      src="https://www.youtube.com/embed?listType=search&list=<%= @artist.name %>"
      frameborder="0"/></iframe>
    </div>

    <% if @artist.twitter %>
    <div id="twitter">
      <div id="demo" class="collapse in">
        <a class="twitter-timeline" href="https://twitter.com/<%= @artist.twitter %>" data-chrome="noheader" width="100" data-widget-id="603378251269038080" data-screen-name="<%= @artist.twitter %>">Tweets by @<% @artist.name %></a>
      </div>
    </div>
    <% end %>

    <div id="FB-comments">
      <div class="fb-comments" data-href="http://localhost:3000/artists/<%= @artist.id %>" data-numposts="5" data-colorscheme="light">
      </div>
    </div>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_artist_path(@artist) %> |
<% end %>
  <%= link_to 'Back', artists_path %><br>
<% end %>
