<h1 class ="text-center">Search Results</h1>

<div id="search-results">
  <article class="artist-results">
    <% if @artists.any? %>
      <h1 style="text-decoration: underline">Matching Artists</h1>
        <% @artists.each do |artist| %>
          <h2><%= link_to artist.name, artist_path(artist) %></h2>
          <%= link_to image_tag(artist.photo), artist_path(artist) %>
      <% end %>
    <% end %>
  </article>
  <article class="album-results">
    <% if @albums.any? %>
      <h1 style="text-decoration: underline">Matching Albums</h1>
        <% @albums.each do |album| %>
          <h3><%= link_to album.name, album_path(album) %></h3>
          <%= link_to image_tag(album.photo), album_path(album) %>
        <% end %>
    <% end %>
  </article>
</div>

<% if (@artists.empty?) && (@albums.empty?) %> <!--how to type in nothing and this comes up -->
  <script type="text/javascript">
  $(window).load(function(){
      $('#create-artist').modal('show');
  });
  </script>
  <div>
    <div id ="shruggie">
      <br />
      <br />
      <br />
      ¯\_(ツ)_/¯
    </div>
  </div>

  <%= render "artists/form" %>
<% end %>



